.shaker-page {
  background-color: #f3fff2;
  font-family: "Open Sans", sans-serif;
  h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    color: #141d25;
  }
  h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
  }
  p {
    font-size: 14px
  }
  li {
    font-size: 14px;
  }
  div {
    padding-top: 20px;
    padding-bottom: 20px;

  }
  h1 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 32px;

  }
}
