.nav {
  height: 50px;
  ul {
    margin-top: 15px;
    a {
      vertical-align: middle;
      text-decoration: none;
      color: #505158;
    }
  }
  button {
    margin-top: 7px;
    margin-right: 30px;
  }
}